# Loads default set of integrations. Do not remove.
default_config:

# Load configs from seperate files
frontend:
  extra_module_url:
  - /local/community/custom-brand-icons/custom-brand-icons.js
  - /local/community/lovelace-card-mod/card-mod.js
  themes: !include_dir_merge_named themes
automation: !include automations.yaml
binary_sensor: !include binary_sensors.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
switch: !include switches.yaml
group: !include groups.yaml
input_boolean: !include input_booleans.yaml
input_select: !include input_select.yaml
template: !include_dir_merge_list templates/
sensor: !include_dir_merge_list sensors/

#shell script to push to git
shell_command:
  git_backup: bash /config/git-backup.sh

#http:
#  ssl_certificate: /ssl/fullchain.pem
#  ssl_key: /ssl/privkey.pem


#  - platform: command_line
#    name: GPT_Response
#    command: "curl -XPOST https://api.openai.com/v1/chat/completions -H 'Content-Type: application/json' -H 'Authorization: Bearer !secret OpenAL' -d '{\"model\": \"gpt-3.5-turbo\", \"messages\": [{\"role\": \"user\", \"content\": \"Act as a personal assistant for Andrew. Christina is his wife.  Andrew and Christina have two kids.  Charlotte, 4, who is well behaved and Henry, 1, who is always in trouble.  You are witty and talk conversationally, making jokes. The current time is {{ now() }}, and the current day is {{ now().weekday() }}. Greet me and our family in a friendly but respectful way, commenting on the weather, and sometimes making a joke, in less than 250
#    characters.\"}], \"top_p\": 1, \"temperature\": 0.7, \"max_tokens\": 320, \"presence_penalty\": 1}'"
#    value_template: "{{ value_json.choices[0].message.content }}"
#    scan_interval: 21600

input_text:
  active_scene:
    name: Active Scene
    initial: "Normal"

input_datetime:
  last_left_home:
    name: Last Left Home
    has_date: true
    has_time: true

mqtt:
  - device_tracker:
      name: "guest_tracker"
      state_topic: "homeassistant/guests/presence"
      payload_home: "home"
      payload_not_home: "not_home"

